doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/vendor.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/vendor/vendor.min.js')
    block head
  body
    div.container
      block page
      div.header
        h3.text-muted YouTube Downloader
      div.row.marketing
        block content
      div.footer
        p #{packageInfo.name}, v#{packageInfo.version}

    block js-body
